@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&family=Sawarabi+Mincho&display=swap");
/* ====================================================
reset
==================================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ol,
ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  color: #333;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====================================================
header
==================================================== */
.site-header {
  position: relative;
  background-color: #3a3a3a;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
}

.site-header__wrapper .nav__item a {
  display: block;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 300px;
  padding: 1em;
  cursor: pointer;
  line-height: 1.4;
  -webkit-transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  color: #ffffff;
  border: none;
  border-width: 0;
  border-color: transparent;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4c14e), to(#d36950));
  background-image: linear-gradient(#f4c14e, #d36950);
}

.site-header__wrapper .nav__item a:after, .site-header__wrapper .nav__item a:before {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  content: "";
  -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate(100%, -25%) translateZ(0);
  transform: translate(100%, -25%) translateZ(0);
  opacity: 0;
  border-radius: 50%;
  background: #009688;
}

.site-header__wrapper .nav__item a:after, .site-header__wrapper .nav__item a:before {
  background: #ffffff;
}

.site-header__wrapper .nav__item a:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: scale(1.1) translateZ(0);
  transform: scale(1.1) translateZ(0);
  color: #ffffff;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.site-header__wrapper .nav__item a:hover:before {
  -webkit-transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(50%, 0, 0) scale(0.9);
  transform: translate3d(50%, 0, 0) scale(0.9);
  opacity: 0.15;
}

.site-header__wrapper .nav__item a:hover:after {
  -webkit-transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s, -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s;
  transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s, -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s, opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s, opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s, -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0.05s;
  -webkit-transform: translate(50%) scale(1.1);
  transform: translate(50%) scale(1.1);
  opacity: 0.25;
}

.site-header__wrapper .nav__item a:active {
  opacity: 0.5;
}

.site-header__wrapper .nav__item a:focus {
  color: #ffffff;
}

@media (max-width: 790px) {
  .site-header__wrapper {
    margin-right: 30px;
  }
}

/* ====================================================
basic
==================================================== */
body {
  font-family: "Dosis", sans-serif;
  color: #fff;
  background-image: radial-gradient(circle at top right, #333, transparent), radial-gradient(circle at 20% 80%, #333, transparent);
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* ====================================================
main
==================================================== */
main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 50px auto;
  /* スクロールアニメーション カーテン */
}

main .textAnimation {
  margin-top: 30px;
  color: #fff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.2em;
}

main .textAnimation :not(:first-of-type) {
  margin-top: 20px;
}

main .textAnimation span {
  display: inline-block;
}

main .textAnimation > span {
  overflow: hidden;
}

main .textAnimation span:nth-of-type(odd) {
  -webkit-animation: showTextFromTop ease-out 3s backwards;
          animation: showTextFromTop ease-out 3s backwards;
}

main .textAnimation span:nth-of-type(even) {
  -webkit-animation: showTextFromBottom ease-out 3s backwards;
          animation: showTextFromBottom ease-out 3s backwards;
}

main .educartion {
  width: 580px;
  height: 200px;
  margin-top: 30px;
}

main .educartion > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: #555;
}

main .educartion > ul > li {
  line-height: 30px;
  font-family: "Sawarabi Mincho", sans-serif;
  letter-spacing: 1px;
}

main .educartion > ul > li > a {
  text-decoration: none;
  color: #3498db;
}

main .educartion > ul > li > a:hover {
  text-decoration: none;
  color: #3498dbcb;
  border-bottom: 1px solid #3498dbcb;
}

main .contents li {
  position: relative;
  list-style: none;
}

main .contents li:not(:first-of-type) {
  margin-top: 150px;
}

main .contents li:nth-of-type(odd) .contentsText {
  right: 0;
}

main .contents li:nth-of-type(even) .contentsText {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .contents li:nth-of-type(odd) img {
  -webkit-transform: translate(-20px, 20px);
          transform: translate(-20px, 20px);
}

main .contents li:nth-of-type(even) img {
  margin-left: auto;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
}

main .contents .contentsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 40px;
  font-family: "Sawarabi Mincho", sans-serif;
}

main .contents h2 {
  font-size: 45px;
  font-weight: bold;
  white-space: normal;
  background-color: rgba(20, 20, 20, 0.8);
  padding: 10px 20px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

main .contents p {
  line-height: 1.6;
  background-color: #555;
  font-style: 14px;
  max-width: 430px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
}

main .contents img {
  width: 65%;
  display: block;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: 1s 0.5s;
  transition: 1s 0.5s;
}

main .picture {
  width: 700px;
  height: 500px;
  margin-top: 100px;
}

main .picture > .reading {
  height: 100%;
  background-image: url(img/undraw_reading_list_4boi.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .picture > .work1 {
  height: 100%;
  background-image: url(img/portfolio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .picture > .work2 {
  height: 100%;
  background-image: url(img/healspasakura.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .picture > .work3 {
  height: 100%;
  background-image: url(img/Todogame.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .picture:nth-of-type(even) {
  margin-left: auto;
}

main .animation-target {
  position: relative;
  overflow: hidden;
}

main .animation-target > ul,
main .animation-target div {
  opacity: 0;
}

main .animation-target.show > ul,
main .animation-target.show > div {
  -webkit-animation: showElements 0.01s 0.9s forwards;
          animation: showElements 0.01s 0.9s forwards;
}

main .animation-target.show::before {
  -webkit-animation: showMask 1.8s forwards;
          animation: showMask 1.8s forwards;
}

main .animation-target::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

main .bottom_links {
  width: 100%;
  text-align: center;
}

main .bottom_links .btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #333;
  margin: 10px;
  border-radius: 30%;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

main .bottom_links .btn i {
  line-height: 90px;
  font-size: 26px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

main .bottom_links .btn:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

main .bottom_links .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

main .bottom_links .btn:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

main .bottom-text {
  text-align: center;
  font-family: "Sawarabi Mincho", sans-serif;
  margin-bottom: 150px;
}

main .bottom-contact {
  text-align: center;
  font-family: "Sawarabi Mincho", sans-serif;
  margin-top: 30px;
}

.contents li.show h2,
.contents li.show p,
main .contents li.show img {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

@-webkit-keyframes showTextFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTextFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showTextFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTextFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes titleAnimation {
  0% {
    letter-spacing: 0.3em;
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    letter-spacing: 0.3em;
    opacity: 0;
  }
}

@-webkit-keyframes showElements {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showElements {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showMask {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  45%,
  55% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes showMask {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  45%,
  55% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@media (max-width: 940px) {
  main .contents .animationTarget.show > img {
    width: 65%;
    height: 65%;
  }
  main .contents h2 {
    font-size: 38px;
    padding: 8px 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
  main .contents p {
    line-height: 1.3;
    background-color: #555;
    font-size: 1.3rem;
    max-width: 390px;
    padding: 12px;
    margin-top: 24px;
  }
  main .contents .educartion {
    width: 460px;
    height: 150px;
  }
  main .contents .picture {
    width: 500px;
    height: 400px;
    margin-top: 100px;
  }
  main .contents .bottom-contact {
    font-size: 1.8rem;
  }
}

@media (max-width: 790px) {
  .site-header__wrapper .nav__item a {
    width: 250px;
  }
  main .contents .animationTarget.show > img {
    width: 55%;
    height: 55%;
  }
  main .contents h2 {
    font-size: 34px;
    padding: 6px 13px;
    line-height: 1;
    letter-spacing: 0.04em;
  }
  main .contents p {
    line-height: 1;
    background-color: #555;
    font-size: 1rem;
    max-width: 390px;
    padding: 12px;
    margin-top: 24px;
  }
  main .contents .educartion {
    width: 460px;
    height: 150px;
  }
  main .contents .picture {
    width: 450px;
    height: 360px;
    margin-top: 100px;
  }
  main .contents .bottom-contact {
    font-size: 1.5rem;
  }
}

@media (max-width: 675px) {
  main .textAnimation {
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 0.2em;
  }
  main .contents .animation-target {
    margin-top: 20px;
  }
  main .contents .animation-target.show > img {
    width: 55%;
    height: 55%;
  }
  main .contents h2 {
    font-size: 34px;
    padding: 6px 13px;
    line-height: 1;
    letter-spacing: 0.04em;
  }
  main .contents p {
    line-height: 1;
    background-color: #555;
    font-size: 14px;
    max-width: 390px;
    padding: 12px;
    margin-top: 24px;
  }
  main .contents .educartion {
    width: 460px;
    height: 150px;
  }
  main .contents .picture {
    width: 430px;
    height: 330px;
    margin-top: 100px;
  }
  main .contents .bottom-contact {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  main .contents .animation-target {
    margin-top: 30px;
  }
  main .contents h2 {
    font-size: 30px;
    padding: 6px 13px;
    line-height: 1;
    letter-spacing: 0.04em;
  }
  main .contents .btn {
    width: 70px;
    height: 70px;
  }
  main .contents .btni {
    line-height: 70px;
  }
}

@media (max-width: 590px) {
  main .textAnimation {
    font-size: 35px;
    letter-spacing: 0.1em;
  }
  main .textAnimation:not(:first-of-type) {
    margin-top: 50px;
  }
  main .contents {
    padding: 0;
  }
  main .contents .animation-target {
    margin-top: 20px;
  }
  main .contents .animation-target.show > img {
    width: 60%;
    height: 60%;
  }
  main .contents li {
    margin-top: 50px;
  }
  main .contents li:not(:first-of-type) {
    margin-top: 170px;
  }
  main .contents h2 {
    font-size: 1rem;
    padding: 6px 13px;
    line-height: 1;
    letter-spacing: 0.04em;
  }
  main .contents p {
    line-height: 1;
    background-color: #555;
    font-size: 14px;
    max-width: 340px;
    padding: 12px;
    margin-top: 24px;
  }
  main .animation-target {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  main .animation-target:not(:first-of-type) {
    margin-top: 10px;
  }
  main .educartion {
    width: 360px;
    height: 70px;
  }
  main .educartion > ul > li {
    font-size: 12px;
    line-height: 13px;
  }
  main .picture {
    width: 200px;
    height: 100px;
    margin-top: 50px;
  }
  main .picture:nth-of-type(even) {
    margin: 0 auto;
  }
  main .bottom-text {
    margin-top: 90px;
    font-size: 13px;
    margin-bottom: 20px;
  }
  main .bottom-contact {
    font-size: 13px;
  }
  main .btn {
    width: 50px;
    height: 50px;
  }
  main .btn i {
    line-height: 50px;
  }
}

/* ====================================================
footer
==================================================== */
#footer {
  margin-top: 100px;
  border-top: solid 1px lightgray;
  padding: 10px;
  background-color: #3a3a3a;
}

#footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */